@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("style-desktop.css?v=125441");
@import url("style-mobile.css?v=123213123");
@import url("style-tablet.css?v=123131234");

:root {
  --primary: #00c55d;
  --secundary: #fff;
  --tertiary: #181a29;
  --quaternary: #192230;
  --quinary: #212a39;
  --blue1: #29354b;
  --blue2: #3c4b67;
  --blue3: #253c52;
  --green1: #009d49;
  --green2: #007838;
  --gray1: #303030;
  --red1: #c50000;
  --fire: rgb(255, 106, 0);
  --pink: rgb(255, 118, 141);
  --blue: rgb(0, 132, 255);
  --yellow: rgb(241, 255, 81);
--black: #000;
  --grad1: radial-gradient(circle, rgba(0, 197, 93) -60%, transparent 50%);
}

/* --- GENERAL --- */
body {
  background-color: var(--tertiary);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  overflow-y: auto;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#hint{
    font-size: 11px;
    color: var(--blue2);
    margin: 4px;
    padding: 0;
}
.content {
  width: fit-content;
  max-width: 100%;
  margin: auto;
  display: block;
}
.dev {
  color: var(--blue2);
  font-size: 12px;
  margin: auto;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  z-index: -3;
}
.btngame,
.intent,
.streak {
  position: relative;
  display: inline-block;
}

.btngame::after,
.intent::after,
.streak::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.btngame:hover::after,
.intent:hover::after,
.streak:hover::after,
.btngame:hover .bubble-text,
.intent:hover .bubble-text,
.streak:hover .bubble-text {
  opacity: 1;
}

  

.btn:hover {
  background-color: var(--blue1);
}
.btn:active {
  background-color: var(--blue2);
}
.btn.green {
  background-color: var(--primary);
  color: var(--secundary);
}
.btn.green:hover {
  background-color: var(--green1);
}
.btn.green:active {
  background-color: var(--green2);
}

p {
  margin: 0;
  padding: 0;
  color: var(--secundary);
}
label {
  color: var(--secundary);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 
hr {
  margin: 0;
  padding: 0;
}

.card_links:hover {
  color: var(--primary);
}
textarea {
  box-sizing: border-box; /* include padding and border in element's total width */
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
  background-color: var(--quaternary);
  border: none;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  color: var(--secundary);
}
.button_card {
  padding: 0px 10px 10px 10px;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
}
.game_content {
  display: block;
}
.teclado {
  display: block;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.teclado_parts {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.keyb {
  display: flex;
  background-color: var(--quinary);
  border: none;
  width: 32px;
  border-radius: 10px;
  color: var(--secundary);
  margin: 2px;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.keyb:hover {
  background-color: var(--blue1);
}
.keyb:active {
  background-color: var(--blue2);
} 
.btngame{
  border: solid var(--quinary);
}
.btngame:hover {
  background-color: var(--blue1);
  border: solid var(--blue1);

}
.btngame:active {
  background-color: var(--blue2);
  border: solid var(--blue2);

} 
.intent{
    color: var(--pink);
    background-color: var(--quinary);
    border: solid var(--quinary);
}
.streak{
  color: var(--fire);
  background-color: var(--quinary);
  border: solid var(--quinary);
}
hr {
  background-color: transparent;
  border: 0.1px solid var(--blue1);
}
button {
  cursor: pointer;
}
.game_ends {
  background-color: rgba(0, 0, 0, 0.5);
}

#finalw {
  color: var(--primary);
  padding: 0 5px;
}
.game_end_links {
  display: flex;
  background-color: var(--quaternary);
  border-radius: 10px;
}
.game_end_links a {
  color: var(--secundary);
  background-color: var(--primary);
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px;
}

.badWord {
  border: 2px solid var(--red1);
}
.keyb.badWord:disabled:hover {
  border: 2px solid var(--red1);
}
.goodWord {
  border: 2px solid var(--green1);
}
.keyb.goodWord:disabled:hover {
  border: 2px solid var(--green1);
}
span {
  width: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--green1);
}
span.spaceline {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-bottom: none;
}
span.line {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-bottom: 3px solid var(--green1);
  color: var(--green1);
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
.boxWords {
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  display: flex;
}
